

  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Piratestaxi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="home.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="safety.html">SAFETY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Aboutus.html">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help.html">HELP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact us.html">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contact Header -->
    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="display-4">CONTACT US</h1>
      </div>
    </div>

    <!-- Contact Information -->
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <h2>Phone: <a href="tel:+919876543210">+91-9876543210</a> / <a href="tel:+918796476410">+91-8796476410</a></h2>
          <h3>Email: <a href="mailto:piratestaxi@gmail.com">piratestaxi@gmail.com</a></h3>
        </div>
      </div>
    </div>

    <!-- Social Media Icons -->
    <div class="row mt-4">
      <div class="col text-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>

    <!-- Available Services -->
    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="display-4">AVAILABLES:</h1>
        <ul class="list-unstyled">
          <li>Bikes</li>
          <li>Cars</li>
          <li>Auto</li>
        </ul>
      </div>
    </div>
  </div>

 
